.container {
  margin: auto;
  display: grid;
  grid-template-columns: auto 1fr; /* Define 2 colunas: uma para o Navbar e uma para o conteúdo (posts e sugestões) */
  gap: 30px; /* Espaçamento entre as colunas */
  align-items: center; /* Centraliza verticalmente os elementos */
}

.nav {
  /* Estilos para a coluna do Navbar, se necessário */
}

.content {
  display: grid;
  grid-template-columns: 1fr; /* Define uma coluna para o conteúdo (posts e sugestões) */
  gap: 30px; /* Espaçamento entre os componentes de conteúdo */
}

.post {
  align-items: center; /*;
  width: 100%; /* Largura total do espaço disponível para os posts */
}

.suggestion {
  margin-right: 20vh;
  align-self: start; /* Alinha o componente no topo da coluna de sugestões */
  height: 100vh; /* Altura total da tela */
  width: 100%; /* Largura total do espaço disponível para as sugestões */
  padding: 20px; /* Espaçamento interno */
  display: none; /* Oculta o componente em telas menores */
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: auto 1fr auto; /* Altera para 3 colunas em telas maiores */
  }

  .nav {
    /* Defina a largura mínima desejada para a coluna do Navbar */
    min-width: 200px; /* Por exemplo, defina uma largura mínima de 200px */
  }

  .content {
    grid-template-columns: 1fr 1fr; 
  }

  .suggestion {
    display: block; /* Exibe o componente de sugestões em telas maiores */
  }
}
