body{
    background-color: var(--background-color);
    color: var(--text-color);
}
.container {
  display: flex;
  justify-content: center; /* Centraliza o conteúdo na horizontal */
  gap: 30px; /* Espaçamento entre os elementos */
  width: 100%; /* Largura do contêiner */
  max-width: 100%; /* Certifique-se de que o contêiner não exceda a largura máxima do dispositivo */
}
  .post {
    margin-top: 20px !important;
    width: 60%; /* Largura do contêiner de postagem */ /* Espaçamento à direita para separar da coluna de sugestões */
  }
  
  .sugestoes {
    width: 30%; /* Largura da coluna de sugestões */
    padding: 20px;
    background-color: #f0f0f0; /* Cor de fundo da coluna de sugestões */
    border-radius: 8px; /* Borda arredondada */
  }
  